---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Opening from '../components/Opening.astro';
import Portfolio from '../components/Portfolio.astro';
import Testimonials from '../components/Testimonials.astro';
import Domains from '../components/Domains.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---
<Layout>
  <Header />
  <main>
    <Opening />
    <hr class="rule container" />
    <Portfolio />
    <Testimonials />
    <Domains />
    <Contact />
  </main>
  <Footer />
</Layout>
